.App {
  text-align: center;
}

.shs-logo {
  margin: 8px;
}

.shs-item {
  margin: 20px;
  img {
    width: calc(100% - 40px);
    border: 1px solid rgba(20,20,20,.2);
  }
}

.shs-footer {
  font-size: small;
  color: DarkGray;
  a:link {
    text-decoration: none;
    color: navy;
  }
}

